#main
{
    background-image: url(Images/BGTask05.jpeg);
    /* background-color: #34B7F1; */
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
}
#a
{
    /* background-color: blueviolet; */
    width: 242px;
    float: left;
    padding-left: 150px;
    padding-top: 30px;
    font-size: larger;
    height: 60px;
    font-weight:bolder;
}
#b
{
    /* background-color: bisque; */
    padding-top: 30px;
    float: right;
    width: 900px;
    word-spacing: 25px;
    height: 60px;
    text-align: end;
    padding-right: 100px;
    color:antiquewhite;
}
#c
{
    text-align: center;
    font-size: 500%;
    height: 130px;
    font-family: cursive;
    color: whitesmoke;
}
#d
{
    background-color:#34B7F1;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    height: 40px;
    width: 250px;
    color: aliceblue;
    border-radius: 7px;
}
#table
{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.a
{
    color: white;
}
input
{
    height: 30px;
}